In [9]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()
df = pd.read_csv("USA_cars_datasets.csv")

df.info()
df.head()

Saving USA_cars_datasets.csv to USA_cars_datasets (3).csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2499 non-null   int64
 1   price         2499 non-null   int64
 2   brand         2499 non-null   object
 3   model         2499 non-null   object
 4   year          2499 non-null   int64
 5   title_status  2499 non-null   object
 6   mileage       2499 non-null   float64
 7   color         2499 non-null   object
 8   vin           2499 non-null   object
 9   lot           2499 non-null   int64
 10  state         2499 non-null   object
 11  country       2499 non-null   object
 12  condition     2499 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 253.9+ KB

   Unnamed: 0  price      brand  ...       state  country      condition
0           0   6300     toyota  ...  new jersey      usa   10 days left
1           1   2899       ford  ...   tennessee      usa    6 days left
2           2   5350      dodge  ...     georgia      usa    2 days left
3           3  25000       ford  ...    virginia      usa  22 hours left
4           4  27700  chevrolet  ...     florida      usa  22 hours left

[5 rows x 13 columns]

In [4]:
df['price'].unique()

array([ 6300,  2899,  5350, 25000, 27700,  5700,  7300, 13350, 14600,
        5250, 10400, 12920, 31900,  5430, 20700, 12710,  5200, 16500,
        5210, 38100, 12520, 15000,  6180, 20800, 11900, 21500, 12000,
        4190, 13000, 18500, 29800,  5330, 16600, 19200,  7320,  7000,
       30500,  6330, 55000, 16200, 19000,  5580, 54000, 16000, 27000,
        7760, 19600, 20000, 18100, 23000, 13490, 17800,  6650, 29100,
       21100, 18600,  4340, 19300, 12780, 15800, 29400,  4430, 19400,
       15900, 26400,  4140, 18300, 17900,  4640, 24000, 13200, 18000,
       14900, 11500,  9110,  7350, 24500,  9300, 39800, 53500, 15110,
       34000, 26502,  5990, 13600, 23605, 10780, 13800, 25201,  7070,
        8700, 18003,  8530, 23100, 17000, 34002,  6980, 20802,  9200,
       26500, 24802, 28500, 47500, 23500, 23505, 10940, 32100, 53000,
        6830, 26414,  4160, 19405,  5690, 25900, 24005,  5090, 19500,
       32012,  6800,  4260,     0, 31802,  7210, 28402, 33300,  6700,
        6440, 19900, 37000,  4040, 22300, 31200,  4290, 22800, 19002,
       39000,  6060, 28800, 40000,  6140, 21000, 20105,  6760, 25800,
        5470, 24502,  7900, 27305, 15290, 25502,  3800,  1400, 18402,
         175, 24503, 15840, 20500, 21003,  4200, 17400, 32001, 15700,
       31009,  3740,  5000, 31002,  3160,  8600,  6000, 12990,    25,
        4410, 22500,  7420, 13500, 15500,  3540, 45500,  4130, 16300,
        4530, 15600,  4100, 18200, 10200,  4080,  1700,  6200,  3650,
       10500, 43500,  4610,  3450, 38500,  6810,  2900,  4450,  5800,
        4240, 13700,  8000, 14200,  7040,  4700, 30851,  4880, 14500,
        7600, 13270, 12800, 33000,  9280,   900,  7560, 17100,  8020,
       10300, 22600, 10480, 22700,  7410,  7570, 67000, 18900, 12560,
       11760, 31700,  7340,  8200,  3000,  6530, 12700,   725,  7400,
        9800,  4400, 10330,  1800,    50,   720,  2500,  9190, 10900,
       22809,  5520,  2320, 23702,  4050, 14810,  2960, 24800,  6270,
        1880, 10050,   225, 26900,  1420, 27003,   350,  5600,  6680,
       10120,  3920,  5630,  2800,  8850, 18712,  2220,  6930,  3440,
       50412,   950,  9270, 11380,  2725,  3790, 40514,  1000,  2925,
        3830, 43402,  1025, 17200, 54680,  6940, 13080, 10630, 43009,
        4600,  4950,  3760,  3900,  6240,  4150, 61200,  6490, 51502,
         250,  8160,  7770,   200,  1825,  9210, 58500,   125,  3960,
        5998,  3700, 15050, 36300, 55600,  2630,   450, 20400,  4320,
       33001, 10000,  5790, 14750,  4010,  3550,  3040, 36400,  4480,
       31003,    75,  4690, 46900, 10740, 27102,   500,  5100, 15010,
       23200,  3390,  3140, 10440, 23911, 21400,  5380, 11000, 30300,
        2300,  4310, 26012, 48500,  3330, 11200,  4730, 24900,  8350,
         475,  3210,  8430, 25503, 26000,  8610, 28000, 84900, 10840,
         100, 11050,  3570, 25001, 11100,  4650,  3820, 29502,  6160,
       10910,  3810,  3020,  2000,  3870, 24811,  5420,  4750,  1200,
        6470, 32500,  6900, 11030,  3460,  3250, 27705,  7200, 28714,
       27502, 29314, 27002, 28214, 29900, 27202, 14700,  4500, 25511,
        7700, 27402,  1500, 26602, 14000, 29809, 36900, 26902, 10950,
       16900, 25600, 29700, 27702, 25811, 37500, 26211, 24205, 27111,
       27411, 27302, 26311, 33500, 27511, 27200, 26511, 24002, 18511,
       29000, 23402, 13300, 19700, 23211, 18111, 17700, 21700, 35500,
       29500, 25300, 35300, 62000, 46000,  9000, 47400, 24400, 33100,
       22000, 35000, 11600, 28100, 63200, 36800, 38800, 31100, 22400,
       37100, 32800, 12300,  9400, 23800, 31600, 46800, 21800, 31500,
       34500, 10700, 13400, 14100, 38600,  9100,  8900,  3300, 17300,
       34800, 32200, 33200, 24300, 27500, 10800, 11400, 42700, 21200,
        9600, 35100, 26300, 17600, 19100, 15200, 16100, 14800, 16700,
       15300,  6500, 28300, 27300,  3500,  8300, 30000, 21600, 22100,
       14300, 43400, 12500, 13900, 17500, 18700, 27900,  7500, 20200,
       29300, 31000, 32400, 23300,  6100, 52000, 36000, 12995, 17750,
       10295, 16995, 23995, 15810, 20227, 20999, 22499, 23495, 25250,
       15322, 21232,  8500, 28700,  7100, 30700, 15400, 25200, 13100,
       28400, 20300,  1300,  1750, 16800, 11800, 27100,  2200, 18800,
        8400,  4900, 21900, 13750, 16400, 15100, 34100, 33800, 29600,
       27800, 18400, 32000, 26800,   800,  1900,  3600,  2700,  9700,
       48000, 54500,  5500, 25500, 25700, 28200, 42500, 36500, 20900,
       20100, 26700, 23900, 17347, 25888, 21289, 17999, 30977, 13799,
        9900, 65500, 36200,  3200,  8750, 11975, 23600, 30900, 40400,
       38000, 23700, 54900, 24700, 38200, 23400, 50500, 49000, 25400,
       35200, 56700, 40200, 65200, 63000, 44000, 70000, 56200, 57700,
       74000, 60200, 60000, 41500, 28600, 46500, 39500, 46700, 42800,
       30200, 25100, 56500, 34300, 37200, 31800, 46300, 45000, 49500,
        4000, 47000, 50000, 47300,  7805, 44500, 35700, 43600, 22900,
        7800,  9500, 12100, 24100, 12400, 39700, 38700, 37700, 22200,
       39950, 37600, 18288, 36600, 18299, 30995,   650, 11300, 32700,
        1350, 11700,  1150, 20600, 48400, 46200, 27600,  2100, 33700,
       33400, 30600, 14400, 40600, 43900,  6400, 41100, 40900, 39200,
       24200, 12600,  5300, 24600, 41200, 49900, 34400, 10100, 42300,
       51000, 45600, 19990, 30999, 41000, 27999, 42000, 29795, 13995,
       35400, 24549, 24970,  2580, 59975, 28990, 46999, 34700, 28900,
       30800, 13388,  1725, 33995, 24190, 19888, 24857, 26100, 20995,
       19498, 19995, 26985, 34995, 19440, 20950,  2825, 32999,  6600,
       50200, 35999, 18799, 33999, 25998, 31831, 25995, 27990, 23985,
       27995, 29988, 21687, 29590, 28999, 13942,  1850, 15495, 17589,
       31790, 14495, 23999, 16488, 12784,  9705, 25999, 34977, 15995,
       13487, 18707, 16080, 15268, 18497, 17150, 14295, 16190, 17899,
       16888,  8305, 21822, 14488, 21995, 16593, 14247, 16999, 20159,
       59900,   825, 26200, 26550, 56000, 45800, 11450, 10850, 10450,
       12200,  5900, 19800,  8800,   750,  1280,   600,  6998,  7998,
       10999,  8495, 19925, 12750, 11621, 11590, 11390, 12900, 10600,
        2425,   925,   375,  4800,  5475,  1950, 30100])

In [5]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 

label_encoder.fit(df['price']) 

df['price'] = label_encoder.transform(df['price']) 

df.head()

   Unnamed: 0  price      brand  ...       state  country      condition
0           0    166     toyota  ...  new jersey      usa   10 days left
1           1     58       ford  ...   tennessee      usa    6 days left
2           2    139      dodge  ...     georgia      usa    2 days left
3           3    522       ford  ...    virginia      usa  22 hours left
4           4    579  chevrolet  ...     florida      usa  22 hours left

[5 rows x 13 columns]

In [6]:
label_encoder.classes_

array([    0,    25,    50,    75,   100,   125,   175,   200,   225,
         250,   350,   375,   450,   475,   500,   600,   650,   720,
         725,   750,   800,   825,   900,   925,   950,  1000,  1025,
        1150,  1200,  1280,  1300,  1350,  1400,  1420,  1500,  1700,
        1725,  1750,  1800,  1825,  1850,  1880,  1900,  1950,  2000,
        2100,  2200,  2220,  2300,  2320,  2425,  2500,  2580,  2630,
        2700,  2725,  2800,  2825,  2899,  2900,  2925,  2960,  3000,
        3020,  3040,  3140,  3160,  3200,  3210,  3250,  3300,  3330,
        3390,  3440,  3450,  3460,  3500,  3540,  3550,  3570,  3600,
        3650,  3700,  3740,  3760,  3790,  3800,  3810,  3820,  3830,
        3870,  3900,  3920,  3960,  4000,  4010,  4040,  4050,  4080,
        4100,  4130,  4140,  4150,  4160,  4190,  4200,  4240,  4260,
        4290,  4310,  4320,  4340,  4400,  4410,  4430,  4450,  4480,
        4500,  4530,  4600,  4610,  4640,  4650,  4690,  4700,  4730,
        4750,  4800,  4880,  4900,  4950,  5000,  5090,  5100,  5200,
        5210,  5250,  5300,  5330,  5350,  5380,  5420,  5430,  5470,
        5475,  5500,  5520,  5580,  5600,  5630,  5690,  5700,  5790,
        5800,  5900,  5990,  5998,  6000,  6060,  6100,  6140,  6160,
        6180,  6200,  6240,  6270,  6300,  6330,  6400,  6440,  6470,
        6490,  6500,  6530,  6600,  6650,  6680,  6700,  6760,  6800,
        6810,  6830,  6900,  6930,  6940,  6980,  6998,  7000,  7040,
        7070,  7100,  7200,  7210,  7300,  7320,  7340,  7350,  7400,
        7410,  7420,  7500,  7560,  7570,  7600,  7700,  7760,  7770,
        7800,  7805,  7900,  7998,  8000,  8020,  8160,  8200,  8300,
        8305,  8350,  8400,  8430,  8495,  8500,  8530,  8600,  8610,
        8700,  8750,  8800,  8850,  8900,  9000,  9100,  9110,  9190,
        9200,  9210,  9270,  9280,  9300,  9400,  9500,  9600,  9700,
        9705,  9800,  9900, 10000, 10050, 10100, 10120, 10200, 10295,
       10300, 10330, 10400, 10440, 10450, 10480, 10500, 10600, 10630,
       10700, 10740, 10780, 10800, 10840, 10850, 10900, 10910, 10940,
       10950, 10999, 11000, 11030, 11050, 11100, 11200, 11300, 11380,
       11390, 11400, 11450, 11500, 11590, 11600, 11621, 11700, 11760,
       11800, 11900, 11975, 12000, 12100, 12200, 12300, 12400, 12500,
       12520, 12560, 12600, 12700, 12710, 12750, 12780, 12784, 12800,
       12900, 12920, 12990, 12995, 13000, 13080, 13100, 13200, 13270,
       13300, 13350, 13388, 13400, 13487, 13490, 13500, 13600, 13700,
       13750, 13799, 13800, 13900, 13942, 13995, 14000, 14100, 14200,
       14247, 14295, 14300, 14400, 14488, 14495, 14500, 14600, 14700,
       14750, 14800, 14810, 14900, 15000, 15010, 15050, 15100, 15110,
       15200, 15268, 15290, 15300, 15322, 15400, 15495, 15500, 15600,
       15700, 15800, 15810, 15840, 15900, 15995, 16000, 16080, 16100,
       16190, 16200, 16300, 16400, 16488, 16500, 16593, 16600, 16700,
       16800, 16888, 16900, 16995, 16999, 17000, 17100, 17150, 17200,
       17300, 17347, 17400, 17500, 17589, 17600, 17700, 17750, 17800,
       17899, 17900, 17999, 18000, 18003, 18100, 18111, 18200, 18288,
       18299, 18300, 18400, 18402, 18497, 18500, 18511, 18600, 18700,
       18707, 18712, 18799, 18800, 18900, 19000, 19002, 19100, 19200,
       19300, 19400, 19405, 19440, 19498, 19500, 19600, 19700, 19800,
       19888, 19900, 19925, 19990, 19995, 20000, 20100, 20105, 20159,
       20200, 20227, 20300, 20400, 20500, 20600, 20700, 20800, 20802,
       20900, 20950, 20995, 20999, 21000, 21003, 21100, 21200, 21232,
       21289, 21400, 21500, 21600, 21687, 21700, 21800, 21822, 21900,
       21995, 22000, 22100, 22200, 22300, 22400, 22499, 22500, 22600,
       22700, 22800, 22809, 22900, 23000, 23100, 23200, 23211, 23300,
       23400, 23402, 23495, 23500, 23505, 23600, 23605, 23700, 23702,
       23800, 23900, 23911, 23985, 23995, 23999, 24000, 24002, 24005,
       24100, 24190, 24200, 24205, 24300, 24400, 24500, 24502, 24503,
       24549, 24600, 24700, 24800, 24802, 24811, 24857, 24900, 24970,
       25000, 25001, 25100, 25200, 25201, 25250, 25300, 25400, 25500,
       25502, 25503, 25511, 25600, 25700, 25800, 25811, 25888, 25900,
       25995, 25998, 25999, 26000, 26012, 26100, 26200, 26211, 26300,
       26311, 26400, 26414, 26500, 26502, 26511, 26550, 26602, 26700,
       26800, 26900, 26902, 26985, 27000, 27002, 27003, 27100, 27102,
       27111, 27200, 27202, 27300, 27302, 27305, 27402, 27411, 27500,
       27502, 27511, 27600, 27700, 27702, 27705, 27800, 27900, 27990,
       27995, 27999, 28000, 28100, 28200, 28214, 28300, 28400, 28402,
       28500, 28600, 28700, 28714, 28800, 28900, 28990, 28999, 29000,
       29100, 29300, 29314, 29400, 29500, 29502, 29590, 29600, 29700,
       29795, 29800, 29809, 29900, 29988, 30000, 30100, 30200, 30300,
       30500, 30600, 30700, 30800, 30851, 30900, 30977, 30995, 30999,
       31000, 31002, 31003, 31009, 31100, 31200, 31500, 31600, 31700,
       31790, 31800, 31802, 31831, 31900, 32000, 32001, 32012, 32100,
       32200, 32400, 32500, 32700, 32800, 32999, 33000, 33001, 33100,
       33200, 33300, 33400, 33500, 33700, 33800, 33995, 33999, 34000,
       34002, 34100, 34300, 34400, 34500, 34700, 34800, 34977, 34995,
       35000, 35100, 35200, 35300, 35400, 35500, 35700, 35999, 36000,
       36200, 36300, 36400, 36500, 36600, 36800, 36900, 37000, 37100,
       37200, 37500, 37600, 37700, 38000, 38100, 38200, 38500, 38600,
       38700, 38800, 39000, 39200, 39500, 39700, 39800, 39950, 40000,
       40200, 40400, 40514, 40600, 40900, 41000, 41100, 41200, 41500,
       42000, 42300, 42500, 42700, 42800, 43009, 43400, 43402, 43500,
       43600, 43900, 44000, 44500, 45000, 45500, 45600, 45800, 46000,
       46200, 46300, 46500, 46700, 46800, 46900, 46999, 47000, 47300,
       47400, 47500, 48000, 48400, 48500, 49000, 49500, 49900, 50000,
       50200, 50412, 50500, 51000, 51502, 52000, 53000, 53500, 54000,
       54500, 54680, 54900, 55000, 55600, 56000, 56200, 56500, 56700,
       57700, 58500, 59900, 59975, 60000, 60200, 61200, 62000, 63000,
       63200, 65200, 65500, 67000, 70000, 74000, 84900])

In [10]:
df = pd.get_dummies(df, columns=['price'])
df

      Unnamed: 0      brand    model  ...  price_70000 price_74000  price_84900
0              0     toyota  cruiser  ...            0           0            0
1              1       ford       se  ...            0           0            0
2              2      dodge      mpv  ...            0           0            0
3              3       ford     door  ...            0           0            0
4              4  chevrolet     1500  ...            0           0            0
...          ...        ...      ...  ...          ...         ...          ...
2494        2494     nissan    versa  ...            0           0            0
2495        2495     nissan    versa  ...            0           0            0
2496        2496     nissan    versa  ...            0           0            0
2497        2497     nissan    versa  ...            0           0            0
2498        2498     nissan    versa  ...            0           0            0

[2499 rows x 802 columns]