In [49]:
import pandas as pd
import numpy as np
from google.colab import files
uploaded = files.upload()
train = pd.read_csv("german_credit_data.csv")
train.tail()

Saving german_credit_data.csv to german_credit_data (1).csv

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,996,40,male,3,own,little,little,3857,30,car
997,997,38,male,2,own,little,NaN,804,12,radio/TV
998,998,23,male,2,free,little,little,1845,45,radio/TV
999,999,27,male,2,own,moderate,moderate,4576,45,car

In [50]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
dtypes: int64(5), object(5)
memory usage: 78.2+ KB

In [51]:
train['Purpose'].value_counts()

car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
domestic appliances     12
vacation/others         12
Name: Purpose, dtype: int64

In [52]:
print(train.isna().sum())
train = train.dropna()
print("___________После обработки всех пустых значений______________")
print(train.isna().sum())

Unnamed: 0            0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
dtype: int64
___________После обработки всех пустых значений______________
Unnamed: 0          0
Age                 0
Sex                 0
Job                 0
Housing             0
Saving accounts     0
Checking account    0
Credit amount       0
Duration            0
Purpose             0
dtype: int64

In [53]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [54]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 522 entries, 1 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        522 non-null    int64
 1   Age               522 non-null    int64
 2   Sex               522 non-null    object
 3   Job               522 non-null    int64
 4   Housing           522 non-null    object
 5   Saving accounts   522 non-null    object
 6   Checking account  522 non-null    object
 7   Credit amount     522 non-null    int64
 8   Duration          522 non-null    int64
 9   Purpose           522 non-null    object
dtypes: int64(5), object(5)
memory usage: 44.9+ KB

In [55]:
train['Purpose'].value_counts()

car                    173
radio/TV               132
furniture/equipment    107
business                53
education               28
repairs                 14
vacation/others          9
domestic appliances      6
Name: Purpose, dtype: int64

In [56]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train['Sex']) 
train['Sex'] = label_encoder.transform(train['Sex'])
label_encoder.fit(train['Housing']) 
train['Housing'] = label_encoder.transform(train['Housing'])
label_encoder.fit(train['Saving accounts']) 
train['Saving accounts'] = label_encoder.transform(train['Saving accounts'])
label_encoder.fit(train['Checking account']) 
train['Checking account'] = label_encoder.transform(train['Checking account'])
label_encoder.fit(train['Purpose']) 
train['Purpose'] = label_encoder.transform(train['Purpose'])
train.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
1,1,22,0,2,1,0,1,5951,48,5
3,3,45,1,2,0,0,0,7882,42,4
4,4,53,1,2,0,0,0,4870,24,1
7,7,35,1,3,2,0,1,6948,36,1
9,9,28,1,3,1,0,1,5234,30,1

In [57]:
train.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose'],
      dtype='object')

In [58]:
X = train[['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
        'Credit amount', 'Duration']].values

y = train['Purpose'].values

In [59]:
features = pd.Series(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
        'Credit amount', 'Duration'])
features

0         Unnamed: 0
1                Age
2                Sex
3                Job
4            Housing
5    Saving accounts
6      Credit amount
7           Duration
dtype: object

In [60]:
features = pd.Series(['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Credit amount', 'Duration'])
from sklearn.linear_model import LogisticRegression
X = train[['Unnamed: 0', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts','Checking account', 'Credit amount', 'Duration']].values
y = train['Purpose'].values

slr = LogisticRegression() 
slr.fit(X, y)
coeff_df = pd.DataFrame(slr.coef_)  
coeff_df['features'] = features

coeff_df

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

,0,1,2,3,4,5,6,7,8,features
0,0.000140,-0.009512,-0.000058,-0.000707,-0.000120,0.000112,0.000131,0.000259,0.003625,Unnamed: 0
1,0.000631,0.023842,0.000557,0.000785,0.000043,0.000289,-0.000049,0.000245,-0.005022,Age
2,0.001195,-0.000621,-0.000009,-0.000004,-0.000046,-0.000062,-0.000049,-0.001151,0.000485,Sex
3,-0.000347,-0.008392,-0.000277,-0.000412,-0.000402,-0.000174,-0.000117,0.000167,-0.002502,Job
4,0.001352,-0.002574,-0.000195,0.000496,0.000478,-0.000109,-0.000419,0.000230,-0.000034,Housing
5,0.001618,0.011662,0.000321,0.000894,0.000754,0.000184,0.000868,0.000006,0.011893,Saving accounts
6,0.000343,-0.002705,-0.000058,-0.000513,-0.000214,-0.000053,-0.000114,-0.000156,-0.002257,Checking account
7,-0.004932,-0.011699,-0.000281,-0.000539,-0.000493,-0.000188,-0.000251,0.000401,-0.006189,Credit amount

In [61]:
slr.coef_

array([[ 1.40303193e-04, -9.51170447e-03, -5.79615112e-05,
        -7.06912245e-04, -1.19948774e-04,  1.12301753e-04,
         1.31326850e-04,  2.59025887e-04,  3.62464389e-03],
       [ 6.30925534e-04,  2.38415068e-02,  5.57492272e-04,
         7.84584809e-04,  4.31529164e-05,  2.89413052e-04,
        -4.94447226e-05,  2.45080359e-04, -5.02154177e-03],
       [ 1.19499311e-03, -6.21442245e-04, -9.37104534e-06,
        -3.88926456e-06, -4.56134174e-05, -6.17033484e-05,
        -4.88872319e-05, -1.15130325e-03,  4.84911157e-04],
       [-3.46988009e-04, -8.39236371e-03, -2.77117260e-04,
        -4.12160438e-04, -4.02005273e-04, -1.74224179e-04,
        -1.16693279e-04,  1.67431479e-04, -2.50155858e-03],
       [ 1.35183829e-03, -2.57416844e-03, -1.94799315e-04,
         4.95944972e-04,  4.77776680e-04, -1.09080316e-04,
        -4.18547560e-04,  2.29645056e-04, -3.35742347e-05],
       [ 1.61847504e-03,  1.16616258e-02,  3.21114785e-04,
         8.94323020e-04,  7.53825761e-04,  1.84305806e-04,
         8.67600646e-04,  5.61368552e-06,  1.18929147e-02],
       [ 3.42698257e-04, -2.70450043e-03, -5.80297380e-05,
        -5.13205037e-04, -2.14027885e-04, -5.27650772e-05,
        -1.14245314e-04, -1.56469535e-04, -2.25709961e-03],
       [-4.93224542e-03, -1.16989533e-02, -2.81328187e-04,
        -5.38685816e-04, -4.93160007e-04, -1.88247691e-04,
        -2.51109387e-04,  4.00976315e-04, -6.18869560e-03]])

In [62]:
features

0          Unnamed: 0
1                 Age
2                 Sex
3                 Job
4             Housing
5     Saving accounts
6    Checking account
7       Credit amount
8            Duration
dtype: object

In [72]:
from sklearn.model_selection import train_test_split

X = train.drop(['Purpose'], axis=1)
y = train['Purpose']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=1/3)

model = LogisticRegression()

model.fit(X_train, y_train)

answers_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [64]:
pd.unique(answers_pred)

array([1, 5])

In [73]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,answers_pred))

0.367816091954023

Y = kx+b
y = w0*x + w1*x + ...