In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Stars.csv to Stars.csv

In [ ]:
stars = pd.read_csv("Stars.csv")
stars.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0

In [ ]:
print(stars.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Temperature     240 non-null    int64
 1   L               240 non-null    float64
 2   R               240 non-null    float64
 3   A_M             240 non-null    float64
 4   Color           240 non-null    object
 5   Spectral_Class  240 non-null    object
 6   Type            240 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 13.2+ KB
None

In [ ]:
stars['Type'].value_counts()

0    40
1    40
2    40
3    40
4    40
5    40
Name: Type, dtype: int64

In [ ]:
stars['Color'].value_counts()

Red                   112
Blue                   56
Blue-white             26
Blue White             10
yellow-white            8
White                   7
Blue white              4
white                   3
Yellowish White         3
yellowish               2
Whitish                 2
Orange                  2
White-Yellow            1
Pale yellow orange      1
Yellowish               1
Orange-Red              1
Blue-White              1
Name: Color, dtype: int64

In [ ]:
stars['Spectral_Class'].value_counts()

M    111
B     46
O     40
A     19
F     17
K      6
G      1
Name: Spectral_Class, dtype: int64

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(stars['Color']) 
stars['Color'] = label_encoder.transform(stars['Color'])
label_encoder.fit(stars['Spectral_Class']) 
stars['Spectral_Class'] = label_encoder.transform(stars['Spectral_Class'])

stars.head()

   Temperature         L       R    A_M  Color  Spectral_Class  Type
0         3068  0.002400  0.1700  16.12      8               5     0
1         3042  0.000500  0.1542  16.60      8               5     0
2         2600  0.000300  0.1020  18.70      8               5     0
3         2800  0.000200  0.1600  16.65      8               5     0
4         1939  0.000138  0.1030  20.06      8               5     0

In [ ]:
label_encoder1 = preprocessing.LabelEncoder()

label_encoder1.fit(stars['Spectral_Class']) 
stars['Spectral_Class'] = label_encoder1.transform(stars['Spectral_Class'])
stars.head()

   Temperature         L       R    A_M  Color  Spectral_Class  Type
0         3068  0.002400  0.1700  16.12      8               5     0
1         3042  0.000500  0.1542  16.60      8               5     0
2         2600  0.000300  0.1020  18.70      8               5     0
3         2800  0.000200  0.1600  16.65      8               5     0
4         1939  0.000138  0.1030  20.06      8               5     0

In [ ]:
X = stars.drop(['Type'], axis = 1)
y = stars['Type']

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_st = scaler.fit_transform(X)

X_st

array([[-0.7793821 , -0.59862356, -0.45920992,  1.11674535,  0.5317879 ,
         0.59533835],
       [-0.78210961, -0.59862357, -0.45924053,  1.16241376,  0.5317879 ,
         0.59533835],
       [-0.82847728, -0.59862357, -0.45934168,  1.36221308,  0.5317879 ,
         0.59533835],
       ...,
       [-0.17502879,  2.40315735,  2.29779992, -1.43783157,  0.76990189,
        -1.80199729],
       [-0.13243767,  1.66287782,  1.69517694, -1.48540283,  0.76990189,
        -1.80199729],
       [ 2.87275403,  1.04834522,  2.99536993, -1.15906395, -1.37312399,
         1.07480548]])

In [ ]:
features = pd.Series(['Temperature','L', 'R', 'A_M', 'Color', 'Spectral_Class'])
from sklearn.linear_model import LogisticRegression
X = stars[['Temperature','L', 'R', 'A_M', 'Color', 'Spectral_Class']].values

y = stars['Type'].values
slr = LogisticRegression() 
slr.fit(X, y)
coeff_df = pd.DataFrame(slr.coef_)  
coeff_df['features'] = features

coeff_df

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

          0         1         2         3         4         5        features
0  0.000431 -0.001582 -0.000005  0.000127  0.000042  0.000035     Temperature
1  0.000421 -0.001587 -0.000002  0.000055  0.000039  0.000033               L
2  0.000535 -0.001845 -0.000011 -0.000088 -0.000081 -0.000045               R
3  0.000435  0.001527 -0.000030 -0.000087  0.000005 -0.000023             A_M
4 -0.000842  0.001745 -0.002694 -0.000006 -0.000004  0.000011           Color
5 -0.000980  0.001742  0.002743 -0.000003 -0.000001 -0.000011  Spectral_Class

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X_st, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

scores = []
for i in range(1,15):

    knn = KNeighborsClassifier(i)
    knn.fit(X_train,y_train)
    answers = knn.predict(X_test) # метод predict возвращыет вектор ответов для X_test
    
    scores.append(knn.score(X_test,y_test))

print(scores)

[0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9583333333333334, 0.9444444444444444, 0.9444444444444444, 0.9444444444444444]

In [ ]:
max_score = max(scores)
scores_ind = [i for i, v in enumerate(scores) if v == max_score]
scores_ind

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
from sklearn.metrics import accuracy_score
knn = KNeighborsClassifier(8)

# обучаем
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9583333333333334

In [ ]:
predictions = knn.predict(stars.drop(columns=['Type']))
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 4, 5, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 5,
       5, 5, 5, 5, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 5, 3, 3, 5, 4, 4, 3, 5, 3, 3,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4])