In [11]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.linear_model import LogisticRegression

from google.colab import files
uploaded = files.upload()

Saving Social.csv to Social (1).csv

In [13]:
sock = pd.read_csv("Social.csv")
sock

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [14]:
sock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [16]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
label_encoder.fit(sock['Gender'])
sock['Gender'] = label_encoder.transform(sock['Gender'])
sock['Gender']

0      1
1      1
2      0
3      0
4      1
      ..
395    0
396    1
397    0
398    1
399    0
Name: Gender, Length: 400, dtype: int64

In [6]:
sock.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [65]:
%%time
from sklearn.model_selection import train_test_split

X = sock.drop(['User ID', 'Purchased'], axis=1)
y = sock['Purchased']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45)
model = LogisticRegression()
model.fit(X_train, y_train)
answer = model.predict(X_test)

CPU times: user 10.7 ms, sys: 0 ns, total: 10.7 ms
Wall time: 11.1 ms

In [66]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, answer)

0.6444444444444445