1 задание

In [1]:
import numpy as np
import pandas as pd

r = np.random.RandomState(1)
s = pd.Series(r.uniform(0, 10, 100))
s=s.sort_values()
print(f'{s[s>5][:1]}\n')

67    5.148891
dtype: float64

2 задание

In [3]:
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])
age = df['возраст']>40
received_money = df['доход']>df['доход'].sum()/4
reliability = df['надежность клиента (0..1)']<df['надежность клиента (0..1)'].mean()
print(f'Старше 40:\n{df[age]}')
print(f'\n имеет доход выше среднего по датасету:\n{df[received_money]}')
print(f'\n имеет доход выше среднего по датасету, но надежность ниже среднего по датасету:\n{df[received_money&reliability]}')
df['важность клиента']=[100000*0.65, 80000*0.74, 150000*0.87, 60000*0.68]
df['возможная долгосрочность клиента']=[100000*0.65*(45-df['возраст'].sum()/4),
                                        80000*0.74*(26-df['возраст'].sum()/4),
                                        150000*0.87*(41-df['возраст'].sum()/4),
                                        60000*0.68*(21-df['возраст'].sum()/4)]
print(f'\n{df}')

Старше 40:
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен

 имеет доход выше среднего по датасету:
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж
2   Аня       41  150000                       0.87  жен

 имеет доход выше среднего по датасету, но надежность ниже среднего по датасету:
    имя  возраст   доход  надежность клиента (0..1)  пол
0  Петя       45  100000                       0.65  муж

     имя  возраст  ...  важность клиента  возможная долгосрочность клиента
0   Петя       45  ...           65000.0                          763750.0
1   Вася       26  ...           59200.0                         -429200.0
2    Аня       41  ...          130500.0                         1011375.0
3  Света       21  ...           40800.0                         -499800.0

[4 rows x 7 columns]

3 задание

In [2]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['low', 'medium', 'high'] * 3,
                    'price': np.random.randint(0, 100, 9)})

df2 = pd.DataFrame({'frukt': ['apple', 'banana', 'melon'] * 2,
                    'ves': ['low', 'high'] * 3,
                    'price': np.random.randint(0, 100, 6)})
df1 = pd.concat([df1, df2], axis=0, join="outer", ignore_index=True, verify_integrity=True)
df1 = df1.drop(columns=['ves', 'frukt'], inplace=False)
print(df1.head(9))

    fruit  weight  price
0   apple     low     28
1  banana  medium     90
2  orange    high     59
3   apple     low     11
4  banana  medium     88
5  orange    high     59
6   apple     low     46
7  banana  medium     50
8  orange    high     36

4 задание