In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Задание №1

def square(a):
  p = a * 4
  s = a * a
  d = 2 ** (0.5) * a
  return p, s, d
print(square(int(input())))
print()

4
(16, 16, 5.656854249492381)

In [5]:
#Задание №2

a = list(map(int,input().split()))
b = list(map(int,input().split()))
c = []
o = False
for i in range(0,len(a)):
  for j in range(0,len(b)):
    if (a[i] == b[j]):
      o = False
      break
    else:
      o = True
  if (o == True):
    c.append(a[i])
  o = False
print(c)

4
5
[4]

In [7]:
#Задание №3

x = list(map(int,input().split()))
x = np.array(x)
max = -1
for i in range(1, len(x)):
  if (x[i] >= max and x[i-1] == 0):
    max = x[i]
    p = i;
if (max == -1 and x[p] != -1):
  print('NO')
else:
  print(max)

5 5 5 5

NameError: ignored

In [ ]:
#Задание №4.1

df = pd.read_csv("C:\\Users\\user\\OneDrive\\Рабочий стол\\titanic.csv")
print(df)
print(df['Age'].mean())
print()

In [ ]:
#Задание №4.2

X = ['0','1']
Y = [len(df[df[' Survived'] == ' 0']), len(df[df[' Survived'] == ' 1'])]
fig, ax = plt.setplots()
ax.bar(X, Y)
plt.show()

In [ ]:
#Задание №4.3

print(df.isna().sum().sum())

In [ ]:
#Задание №4.4

print(df[df['Fare'].max()])